  /* Reset Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
   --dark-grid: #000000;
   --gray-home: #d2d2d2; 
   --gray-word: #414141;
   --white-playlist: #cacaca;
   --gray-plus: #a3a3a3;
   --gray-circle_user: #808080;
   --white-name: #d4d4d4;
   --dark-header: #080b12;
   --white-upgrade: #dbdcdc;
   --dark-main: #141922;
   --gray-menu: #515459;
   --white-main: #ffffff;
   --dark-footer: #282828;
   --gray-word-footer: #646464;
}

body {
   font-family: 'Montserrat', sans-serif;
}

   /* Debug */

.debug .grid {
    background-color: #000000;
}

.debug #site_header {
   background-color: red;
}

.debug #site_main {
   background-color: blue;
}

.debug #site_footer {
   background-color: orange;
}

   /* Utility */

a {
    text-decoration: none;
}

ul {
   list-style: none;
}

.pl-1 {
   padding-left: 1rem;
}

.mt-0.5 {
   margin-top: 0.5rem;
}

.mt-1 {
   margin-top: 1rem;
}

li {
   line-height: 2rem;
}

i {
   font-size: 1rem;
   margin-right: 0.25rem;
}

.d-flex {
   display: flex;
}

   /* End Region Utility */

   /* Region Grid */

.grid {
   background-color: var(--dark-grid);
   height: 90vh;
   width: 12rem;
   position: fixed;
   font-size: 0.75rem;
   font-weight: bold;
} 

.logo img {
   width: 8rem;
   padding: 1rem 0 0 1rem;
}

.navigation_bar {
   line-height: 2rem;
   color: var(--gray-word);
}

.navigation_bar .home a img {
   width: 1.5rem;
}

.home a {
   color: var(--gray-home);
}

.navigation_bar .search img {
   width: 1.5rem;
}

.search a {
   color: var(--gray-word);
}

.navigation_bar .library img {
   width: 1.5rem;
}

.library a {
   color: var(--gray-word);
}

.playlist h5 {
   color: var(--white-playlist);
}

.plus {
   background-color: var(--gray-plus);
   padding: 0.5rem;
   color: black;
}

.user {
   position: absolute;
   bottom: 0;
   color: var(--gray-circle_user);
}

.download {
   border-bottom: 1px solid gray;
   padding: 0.5rem 0;
   font-size: 10px; 
}

.download img {
   width: 0.75rem;
}

.username {
   padding: 0.5rem 0;
}

.username img {
   width: 1rem;
   background-color: var(--gray-circle_user);
   border-radius: 50%;
}

.username .name {
   color: var(--white-name);
}

   /* End Region Grid */

   /* Region Header */

#site_header {
   background-color: var(--dark-header);
   height: 10vh;  
}

.upgrade {
   position: absolute;
   right: 0;
   top: 5px;
   border: 2px solid #dbdcdc;
   border-radius: 1rem;
   margin-top: 0.75rem;
   padding: 0.25rem 1rem;
}

.upgrade a {
   color: var(--white-upgrade);
   font-size: 0.5rem;
   font-weight: bold;
}

   /* End Region Header */

   /* Region Main */

#site_main {
   background-color: var(--dark-main) ;
    height: 80vh;
    width: calc(100% - 12rem);
    float: right;  
    overflow-y: scroll;
}

.menu ul {
   display: flex;
   justify-content: center;
}

.menu ul li {
   font-size: 0.75rem;
   font-weight: bold;
   padding-right: 1rem;
   }

.menu ul li a{
   color: var(--gray-menu);
}

.col-12 section h3 {
   margin-top: 1.5rem;
   color: var(--white-main);
   padding: 0.25rem 1rem;
}

.album {
   padding: 1rem;
   gap: 1rem;
}

.created_for_you {
   padding: 1rem;
   gap: 1rem;
}

.artists {
   padding: 1rem;
   gap: 1rem;
}

.card {
   width: calc(100% / 6);
   aspect-ratio: 1 / 1;
}

.card img {
   width: 100%;
}

.card h6 {
   text-align: center;
   color: var(--white-main);
   padding: 0.5rem 0;
}

.card p {
   text-align: center;
   color: var(--gray-menu);
   font-size: 8px;
   font-weight: bold;
}

.card .circle-play {
   position: relative;
}

.circle-play i{
   color: var(--white-main);
   font-size: 50px;
   position: absolute;
   bottom: 2.5rem;
   left: 2.5rem;   
}

.col-12 section p {
   color: var(--gray-menu);
   padding: 0.25rem 1rem;
   font-size: 8px;
   font-weight: bold;
}

.artists .card img {
   border-radius: 50%;
}

   /* End Region Main */

   /* Region Footer */

#site_footer {
   background-color: var(--dark-footer);
   height: 10vh;
   width: 100%;
   position: absolute;
   bottom: 0;
}

.music_player {
   justify-content: space-between;
}

.song {
   position: relative;
   width: 120px;
}

.song img {
   width: 3.75rem;
   padding: 0.5rem;
}

.song h6 {
   color: var(--white-main);
   display: inline-block;
   position: absolute;
   top: 20px;
}

.song p {
   color: var(--gray-word-footer);
   font-size: 8px;
   font-weight: bold;
   display: inline-block;
   position: absolute;
   top: 35px;
}

.like {
   width: 60px;
   align-self: center;
}

.like a {
   color: var(--gray-word);
}

.time {
   width: 5px;
   color: var(--white-main);
   font-size: 0.5rem;
   align-self: center;
}

.time-song {
   width: 350px;
}

.time-song-button {
   justify-content: center;
   gap: 1rem;
   border-bottom: 5px solid var(--gray-word-footer);
   padding: 0.5rem;
}

.time-song a {
   color: var(--white-main);
}

.volume {
   width: 150px;
   color: var(--white-main);
}

.volume-icons {
   align-self: center;
}

.border {
   width: 60px;
   margin-left: 0.5rem;
   border: 2px solid gray;
   align-self: center;
}
/* End Region Footer */
   