  /* Reset Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
   --dark-grid: #000000;
   --gray-home: #d2d2d2; 
   --gray-word: #414141;
   --white-playlist: #cacaca;
   --gray-plus: #a3a3a3;
   --gray-circle_user: #808080;
   --white-name: #d4d4d4;
   --dark-header: #080b12;
   --white-upgrade: #dbdcdc;
}

body {
   font-family: 'Montserrat', sans-serif;
}

   /* Debug */

.debug .grid {
    background-color: #000000;
}

.debug #site_header {
   background-color: red;
}

.debug #site_main {
   background-color: blue;
}

.debug #site_footer {
   background-color: orange;
}

   /* Utility */

a {
    text-decoration: none;
}

ul {
   list-style: none;
}

.pl-1 {
   padding-left: 1rem;
}

.mt-0.5 {
   margin-top: 0.5rem;
}

.mt-1 {
   margin-top: 1rem;
}

li {
   line-height: 2rem;
}

i {
   font-size: 1rem;
   margin-right: 0.25rem;
}

   /* End Region Utility */

   /* Region Grid */

.grid {
   background-color: var(--dark-grid);
   height: 90vh;
   width: 12rem;
   position: fixed;
   font-size: 0.75rem;
} 

.logo img {
   width: 8rem;
   padding: 1rem 0 0 1rem;
}

.navigation_bar {
   line-height: 2rem;
   color: var(--gray-word);
}

.home a {
   color: var(--gray-home);
}

.search a {
   color: var(--gray-word);
}

.library a {
   color: var(--gray-word);
}

.playlist h5 {
   color: var(--white-playlist);
}

.plus {
   background-color: var(--gray-plus);
   padding: 0.5rem;
   color: black;
}

.user {
   position: absolute;
   bottom: 0;
   color: var(--gray-circle_user);
}

.download {
   border-bottom: 1px solid gray;
   padding: 0.5rem 0;
}

.download i {
   font-size: 0.75rem;
}

.username {
   padding: 0.5rem 0;
}

.username .name {
   color: var(--white-name);
}

   /* End Region Grid */

   /* Region Header */

#site_header {
   background-color: var(--dark-header);
   height: 10vh; 
}

.upgrade {
   position: absolute;
   right: 0;
   border: 2px solid #dbdcdc;
   border-radius: 1rem;
   margin-top: 0.75rem;
   padding: 0.25rem 1rem;
}

.upgrade a {
   color: var(--white-upgrade);
   font-size: 0.5rem;
}

#site_main {
    height: 80vh;
    width: calc(100% - 12rem);
    float: right;  
}

#site_footer {
   height: 10vh;
   width: 100%;
   position: absolute;
   bottom: 0;
}
   